<launch>
  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>

  <node pkg="avg_turtlebot" type="navigator.py" name="turtlebot_navigator" />
  <node pkg="avg_turtlebot" type="pose_controller.py" name="turtlebot_pose_controller" />
  <node pkg="avg_turtlebot" type="cmd_nav_commander.py" name="cmd_nav_commander" />
  <node pkg="avg_turtlebot" type="waypoints.py" name="turtlebot_waypoints" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find avg_turtlebot)/rviz/project_sim.rviz"/>
</launch>
